@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800&display=swap');


.btn {
    margin-left: 41%;
}

.color-overlay {
    filter: brightness(32%);
}

.marg {
    margin-top: 100px;
}

.register-section {
    text-decoration: none;
    background-color: white;
    margin-left: 60%;
    margin-top: 10%;
}